<h2>Bookings</h2>
<table>
  <tr>
    <th>Engineer</th>
    <th>Client</th>
    <th>Cost</th>
    <th></th>
    <th></th>
  </tr>
  <% @bookings.each do |booking| %>
  <tr>
    <td><%= link_to booking.engineer.name, booking.engineer %></td>
    <td><%= link_to booking.client.name, booking.client %></td>
    <td><%= booking.cost %></td>
    <td><%= link_to "Show", booking %></td>
    <td><%= link_to "Edit", edit_booking_path(booking) %></td>
  </tr>
  <% end %>
</table>
<br />
<%= link_to "New Booking", new_booking_path %><br />
<%= link_to "New Engineer", new_engineer_path %><br />
<%= link_to "New Client", new_client_path %>