<h2>Booking</h2>
<table>
  <tr>
    <th>Engineer</th>
    <td><%= @booking.engineer.name %></td>
  </tr>
  <tr>
    <th>Client</th>
    <td><%= @booking.client.name %></td>
  </tr>
  <tr>
    <th>Cost</th>
    <td><%= sprintf("%.2f", @booking.cost) %></td>
  </tr>
</table>
<%= link_to "Edit", edit_booking_path(@booking) %><br />
<%= link_to "Delete", @booking, :method => :delete, :confirm => "Are you sure you want to delete?" %><br />
<%= link_to "Back", root_path %>